#homePage{
    width: 100%;
    height: 100vh;
    min-height: 500px;
    margin: 0;
    padding: 0;
    background-image: url("https://lh3.googleusercontent.com/proxy/Azzno_p5uj0iOD1CuQxNUO0Q2f7KS963DQK1EiA7Pp-w6lhAeJmdJhoLMkJB-B6zq-bpXSUNzC6MoXV_CtAJlB73SF-LOAx3FnqLRg=w3840-h2160-p-k-no-nd-mv");
    background-size:cover;
    background-repeat: no-repeat;

}